.all_items {
    margin-top: 1.5rem;
    padding: 1.5rem 6px;
    background-color: #f2f2f2;
    border-radius: 1rem;
}

.items_heading {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

@media screen and (min-width: 769px) {
    .item_name {
        font-size: 1.5rem;
    }

    .item_desc {
        color: #888888;
    }

    .item_box {
        padding: 1.5rem;
        background-color: #ffffff;
        border-bottom-left-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
    }

    .look_for_all {
        padding: 0.5rem;
        font-size: larger;
        font-weight: 600;
        background-color: #38b2ac;
        color: #ffffff;
        border-radius: 0.5rem;
        grid-column: 2;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .item_name {
        font-size: 1rem;
    }

    .item_desc {
        color: #888888;
    }

    .item_box {
        padding: 0.5rem 1rem;
        background-color: #ffffff;
        border-bottom-left-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
    }


    .look_for_all {
        padding: 0.5rem;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: #38b2ac;
        color: #ffffff;
        border-radius: 0.5rem;
        grid-column: 2;
        text-align: center;
    }
}