{% extends 'core/base.html' %}

{% block title %} Каталог {% endblock %}

{% block content %}
<div class="items">
    <div class="box_container">
        <div class="button">
            <button onclick="toggleSidebar()">Поиск
            </button>
        </div>
        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
            <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="rounded-t-xl">
                        {% endif %}
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="item_name">{{ item.name }}</h2>
                        <p class="item_desc">Цена: ₽{{ item.price }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="sidebar">
        <form method="GET" action="{% url 'item:items' %}" class="search">
            <input name="query" class="w-full mt-2 py-4 px-6 border rounded-xl" type="text" value="{{ query }}"
                   placeholder="Найдется все!">

            <button class="mt-2 ml-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl hover:bg-teal-700">
                Искать
            </button>
        </form>

        <hr class="my-6">

        <p class="search_heading">Категории</p>

        <ul>
            {% for category in categories %}
            <li class="py-2 px-2 rounded-xl{%  if category.id == category_id %} bg-gray-200{% endif %}">
                <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>

        <hr class="my-6">

        <p id="myLink2" class="search_heading">Сброс</p>
        <ul>
            <li class="py-2 px-2 rounded-xl">
                <a id="myLink" href="{% url 'item:items' %}"
                   class="mt-2 py-4 px-8 inline-block text-lg bg-yellow-500 text-lg text-hwite rounded-xl hover:bg-yellow-700">
                    Закрыть
                </a>

                <script>
                    function toggleSidebar() {
                const sidebar = document.querySelector('.sidebar');
                sidebar.classList.toggle('open');
            }
                    // Получаем ссылку по id
                    var link = document.getElementById("myLink");
                    var link2 = document.getElementById("myLink2");
                    // Функция для обновления текста ссылки
                    function updateLinkText() {
                        if (window.innerWidth > 768) {
                            link.innerHTML = "Сбросить";
                            link2.innerHTML = "Сбросить фильтр";
                        } else {
                            link.innerHTML = "Закрыть";
                            link2.innerHTML = "Закрыть и сбросить";
                        }
                    }

                    // Вызываем функцию при загрузке страницы и при изменении размера окна
                    window.onload = updateLinkText;
                    window.onresize = updateLinkText;
                </script>
            </li>
        </ul>
    </div>
</div>
{% endblock %}